<a href="https://colab.research.google.com/github/MaheshNuvvula/MaheshN/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program that takes a integer from keyboard and prints a string according the business logic given below

1. For each multiple of 3, Print 'Fizz',

2. For each multiple of 5, Print Fuzz

3. For each multiple of 3 and 5 Print 'Fizz Buzz

In [1]:
n=int(input('Enter an integer: '))
if n%3==0 and n%5==0:
    print('Fizz Buzz')
elif n%3==0:
    print('Fizz')
elif n%5==0:
    print('Fuzz')
else:
    print('Nothing Matches')

Enter an integer: 15
Fizz Buzz

Write a program that computes the net amount of a bank account based on a transaction log from console input. The transaction log / sample input is in the format as shown below:

Input
log_message = D:100 W:10
Output
90
Input
Log_message = D:100 W:200 D:400
Output
300 (100 - 200 + 400 = 300)

In [4]:
log_msg = input("Enter the log_msg: ")

log_items = log_msg.split()

total_amount = 0

for item in log_items:
    key, value = item.split(":")
    if key == 'D':
        total_amount += int(value)
    elif key == 'W':
        total_amount -= int(value)

print(total_amount)

Enter the log_msg: D:100 W:10
90

Write a program that prompts the user to input number of calls and calculate the monthly telephone bills as per the following rule:

● Minimum Rs. 200 for up to 100 calls.

● Plus Rs. 0.60 per call for next 50 calls.

● Plus Rs. 0.50 per call for next 50 calls.

● Plus Rs. 0.40 per call for any call beyond 200 calls.

In [5]:
n=int(input('Enter number of calls: '))

min_amount=200
if n<=100:
    amount=200
elif n>100 and n<=150:
    amount=min_amount+(0.60*n)
elif n>150 and n<=200:
    amount=min_amount+(0.50*n)
else:
    amount=min_amount+(0.40*n)
            
print(amount)

Enter number of calls: 140
284.0

# New Section

Problem Statement 01

Given a list of numbers

filenames = ['view.jpg', 'bear.jpg', 'ball.png']

Write a program Add the file 'phone.jpg' to this list at the beginning. Then delete the file 'ball.png'. In response, print the filenames list to the console.

Expected Output

['phone.jpg', 'view.jpg', 'bear.jpg']

In [8]:
filenames = ['view.jpg','bear.jpg','ball.png']
filenames.insert(0,'phone.jpg')
filenames.pop()
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

Problem Statement 02 Given a list of numbers

L = [1,2,3,4,5,6,7,8,9,10]

Write a program to find the maximum,minimum and average element in a given list without using m

In [9]:
L = [1,2,3,4,5,6,7,8,9,10]
print(max(L))
print(min(L))
l=len(L)
sum=0
for i in L:
  sum+=i
print('avg of list is:',sum/l)

10
1
avg of list is: 5.5

Problem Statement 01

Given a list
L : [1,1,1,1,2,2,3,3,3,3,4,5]
Write a program to print only unique elements

Note : Don't convert List to Set
Expected Output

Unique List : [1, 2, 3, 4, 5]

In [10]:
L = [1,1,1,1,2,2,3,3,3,3,4,5]
l=[]
for ele in L:
  if ele not in l:
    l.append(ele)
print(l)

[1, 2, 3, 4, 5]

Problem Statement 02

Given a list

L = [1,2,3,4, [4,3] ]

Check if the given number exist in the inner list

In [12]:
L = [1, 2, 3, 4, [4, 5]]
n = int(input('Enter the number: '))
found = False
for item in L:
  if isinstance(item, list):
    if n in item:
      found = True
      break
    else:
        if item == n:
          found = True
          break
if found:
  print('Element found')
else:
  print('Element not found')

Enter the number: 5
Element found

Problem Statement 01

Given a list of lists
numbers_nested = [[1,-1,2],[0,-5,3,5,-2],[1,2,1,0,-2,-3]]

Write a program to grab only positive numbers in each nested list and put that in a new list
Expected Output

[1, 2, 3, 5, 1, 2, 1]

In [33]:
def flatten_list(lst):
    flattened = []
    while lst:
        item = lst.pop(0)
        if type(item) == list:
            lst = item + lst
        else:
            flattened.append(item)
    return flattened

nested_list = [[1, -1, 2], [0, -5, 3, 5, -2], [1, 2, 1, 0, -2, -3]]
flattened_list = flatten_list(nested_list)
print(flattened_list)

positive_list = []
for i in flattened_list:
    if isinstance(i, int) and i > 0:
        positive_list.append(i)
print(positive_list)

[[1, -1, 2], [0, -5, 3, 5, -2], [1, 2, 1, 0, -2, -3]]
[]

Problem Statement 02

Given a list of lists

L = [ [1,2,3] , [ 4,5,6,3 ], [-1,-2,-10,5,8] ]

Write a program to to print the average sum of value from each inner list and print the sum of each average

Expected Output

6/3 + 18/4 + 0 ⇒ 2 + 4.5 ⇒ 6.5

In [ ]:
L = [[1, 2, 3], [4, 5, 6, 3], [-1, -2, -10, 5, 8]]
sum1 = sum(sum(sublist) / len(sublist) if len(sublist) != 0 else 0 for sublist in L)
print(sum1)