<a href="https://colab.research.google.com/github/MaheshNuvvula/MaheshN/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [9]:
def summation(list):
  sum=0
  for i in list:
    sum+=i
  print(sum)
list=(8,2,3,0,7)
summation(list)

20

Write a Python program to reverse a string.

﻿Sample String : "1234abcd"
Expected Output : "dcba4321"

In [12]:
def reverse_string(string):
    reversed_string = string[::-1]
    return reversed_string


sample_string = "1234abcd"
reversed_string = reverse_string(sample_string)
print(reversed_string)

dcba4321

Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

﻿Sample String : 'The quick Brow Fox'

Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [ ]:
def count_upper_lower(input_string):
    upper_count = 0
    lower_count = 0

    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

sample_string = 'The quick Brow Fox'
upper, lower = count_upper_lower(sample_string)
print("No. of Upper case characters:", upper)
print("No. of Lower case characters:", lower)